<!-- Newsletter Start -->
<div class="newsletter-two">
    <div class="newsletter">
        <div class="bg"></div>
        <img alt=""
             class="rectangle-4284"
             src="https://static.overlay-tech.com/assets/d82d1753-9023-418b-bc31-3d4127144bb0.png" />
        <div class="text-and-button">
            <p class="daha-fazlasi-icin">Daha Fazlası İçin</p>
            <p class="kisa-aciklama">Kısa Açıklama</p>
            <div class="button-get-started-now">
                <button class="_header_online_play_btn-3" onclick="location.href='about.html#about-text'">İletişime Geçin</button>

            </div>
        </div>
    </div>
</div>
<!-- Newsletter End -->