
@{
    ViewBag.Title = "ProductByCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="_header_online_wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="_header_online_content">

                <div class="_header_online_content_txt">
                    <p class="_header_online_content_title3">Hoş Geldiniz</p>
                    <h4 class="_header_online_content_title1 mt-5">Kategor İsmi</h4>
                    <p class="_header_online_content_title2">Şirket Hakkında Alt Açıklama.</p>
                </div>

                <div class="_header_online_content_btn_wrap">
                    <button class="_header_online_play_btn" onclick="location.href='about.html'">Hakkımızda Daha Fazla</button>
                </div>

            </div>

            <div class="_header_online_img">
                <img src="~/sozenFrontend/assets/images/houseillustration.png" alt="header-back">
            </div>

        </div>
    </div>
</div>


<!-- Product Start -->
<div class="feature-01">
    <div class="container">
        <div class="flex-wrapper-one">
            <div class="row">
                <div class="card-01">
                    <img alt=""
                         class="image"
                         src="https://static.overlay-tech.com/assets/6f3be505-bb87-46b8-8b51-75f2515c0a3e.png" />
                    <p class="ueruen-baslik">Ürün Başlık</p>
                    <p class="ueruen-aciklama">Ürün Açıklama</p>
                </div>
                <div class="card-01">
                    <img alt=""
                         class="image"
                         src="https://static.overlay-tech.com/assets/3d1293a2-1867-4f4d-ab76-661b06fbc0fa.png" />
                    <p class="ueruen-baslik">Ürün Başlık</p>
                    <p class="ueruen-aciklama">Ürün Açıklama</p>
                </div>
                <div class="card-01">
                    <img alt=""
                         class="image"
                         src="https://static.overlay-tech.com/assets/9e76744b-cae0-4de0-a980-80ff1204e20d.png" />
                    <p class="ueruen-baslik">Ürün Başlık</p>
                    <p class="ueruen-aciklama">Ürün Açıklama</p>
                </div>
                <div class="card-01">
                    <img alt=""
                         class="image"
                         src="https://static.overlay-tech.com/assets/9e76744b-cae0-4de0-a980-80ff1204e20d.png" />
                    <p class="ueruen-baslik">Ürün Başlık</p>
                    <p class="ueruen-aciklama">Ürün Açıklama</p>
                </div>
                <div class="card-01">
                    <img alt=""
                         class="image"
                         src="https://static.overlay-tech.com/assets/9e76744b-cae0-4de0-a980-80ff1204e20d.png" />
                    <p class="ueruen-baslik">Ürün Başlık</p>
                    <p class="ueruen-aciklama">Ürün Açıklama</p>
                </div>
                <div class="card-01">
                    <img alt=""
                         class="image"
                         src="https://static.overlay-tech.com/assets/9e76744b-cae0-4de0-a980-80ff1204e20d.png" />
                    <p class="ueruen-baslik">Ürün Başlık</p>
                    <p class="ueruen-aciklama">Ürün Açıklama</p>
                </div>
            </div>

        </div>
    </div>
</div>
</div>

<!-- Product End -->

@Html.Action("Newsletter","Product")
@Html.Action("Footer","Product")