@model IEnumerable<EntityLayer.Concrete.Product>
@foreach (var item in Model)
{


    <!-- Product Content Start -->

    <div class="container">
        <div class="row">
            <div class="product-content">
                <img src="@item.ProductImage" style="width:800px; height:500px; margin:auto; " alt="ürün">
                <h3 class="text-center mt-5 product-title">Ürün Adı</h3>
                <div class="product-p-div">
                    <p class=" product-text mt-5" style="line-height: 32px; padding:50px; text-align: left; font-weight:500;">
                        @item.ProductContent

                    </p>
                </div>
            </div>
        </div>
    </div>


<!-- Product Content End -->
}