 <!-- Services Start -->
<div class="how-it-works-two">
    <div class="how-it-works">
        <div class="text">

            <p class="hizmetlerimiz">Hizmetlerimiz</p>
        </div>
        <div class="seller-type ">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-4 services-img ">
                        <img src="../sozenFrontend/assets/images/services1.jpeg" alt="">
                        <h3 class="services-subtitle"> Çit Direği</p>
                    </div>

                    <div class="col-4 services-img ">
                        <img src="../sozenFrontend/assets/images/services2.jpeg" alt="">
                        <h3 class="services-subtitle">Bağ Direği</p>
                    </div>
                    <div class="col-4 services-img">
                        <img src="../sozenFrontend/assets/images/services3.jpeg" alt="">
                        <h3 class="services-subtitle">Tel Örgü Montaj ve İmalat</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Services End -->
<!-- Project Start -->
<div class="feature-01">
    <div class="text-urun">
        <p class="urunler">Ürünler</p>
        <div class="flex-wrapper-one">
            <p class="ueruenler-hakkinda-kisa-aciklama">
                Ürünler Hakkında Kısa Açıklama
            </p>
            <p class="tum-urunleri-goruntule">
                <a href="#" style="color:#000336;">Tüm Ürünleri Görüntüle </a>
            </p>

        </div>

    </div>
    <div class="containerx">
        <div class="flex-wrapper-one">
            <div class="card-01">
                <img alt=""
                     class="image"
                     src="https://static.overlay-tech.com/assets/6f3be505-bb87-46b8-8b51-75f2515c0a3e.png" />
                <p class="ueruen-baslik">Ürün Başlık 1</p>
                <p class="ueruen-aciklama">Ürün Açıklama</p>
            </div>
            <div class="card-01">
                <img alt=""
                     class="image"
                     src="https://static.overlay-tech.com/assets/3d1293a2-1867-4f4d-ab76-661b06fbc0fa.png" />
                <p class="ueruen-baslik">Ürün Başlık</p>
                <p class="ueruen-aciklama">Ürün Açıklama</p>
            </div>
            <div class="card-01">
                <img alt=""
                     class="image"
                     src="https://static.overlay-tech.com/assets/9e76744b-cae0-4de0-a980-80ff1204e20d.png" />
                <p class="ueruen-baslik">Ürün Başlık</p>
                <p class="ueruen-aciklama">Ürün Açıklama</p>
            </div>
        </div>
    </div>
</div>
<!-- Project End -->


