
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- CSS -->
    <link rel="stylesheet" href="../sozenFrontend/assets/css/style.css">
    <!-- BootStrap -->
    <link rel="stylesheet" href="../sozenFrontend/assets/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=0">

    <title>Sözen Çit</title>
</head>
<body>
    <header class="_header_online_wrapper">

        <nav class="navbar navbar-expand-lg navbar-light _header_online_navbar">

            <div class="navbar-collapse" id="navbarNav">
                <div class="container-fluid">
                    <div class="_logo_wrap">
                        <a class="navbar-brand _logo" href="/Home/Index">
                            <img class="_nav_logo" src="../sozenFrontend/assets/images/logo.png" alt="Logo">
                        </a>
                    </div>
                </div>

                <ul class="navbar-nav _header_online_nav">
                    <li class="nav-item _header_online_nav_item">
                        <a class="nav-link _header_online_nav_link _active " id="anasayfa" href="/Home/Index">Ana Sayfa</a>
                    </li>
                    <li class="nav-item _header_online_nav_item">
                        <a class="nav-link _header_online_nav_link" href="/About/Index">Hakkımızda</a>
                    </li>
                    <li class="nav-item _header_online_nav_item">
                        <a class="nav-link _header_online_nav_link" href="/Product/Index">Ürünler</a>
                    </li>
                    <li class="nav-item _header_online_nav_item">
                        <a class="nav-link _header_online_nav_link" href="/Gallery/Index">Galeri</a>
                    </li>
                    <li class="nav-item _header_online_nav_item">
                        <a class="nav-link _header_online_nav_link" href="/Contact/Index">İletişim</a>
                    </li>
                </ul>

            </div>

        </nav>
    </header>

 
    @RenderBody()
</body>
</html>