
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- CSS -->
    <link rel="stylesheet" href="../sozenFrontend/assets/css/style.css">
    <!-- BootStrap -->
    <link rel="stylesheet" href="../sozenFrontend/assets/css/bootstrap.min.css" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=0">

    <title>Sözen Çit</title>
</head>
<body>
    <header class="_header_online_wrapper">

        <nav class="navbar navbar-expand-lg navbar-light _header_online_navbar">

            <div class="navbar-collapse" id="navbarNav">
                <div class="container-fluid">
                    <div class="_logo_wrap">
                        <a class="navbar-brand _logo" href="index.html">
                            <img class="_nav_logo" src="../sozenFrontend/assets/images/logo.png" alt="Logo">
                        </a>
                    </div>
                </div>

                <ul class="navbar-nav _header_online_nav">
                    <li class="nav-item _header_online_nav_item">
                        <a class="nav-link _header_online_nav_link _active " id="anasayfa" href="index.html">Ana Sayfa</a>
                    </li>
                    <li class="nav-item _header_online_nav_item">
                        <a class="nav-link _header_online_nav_link" href="about.html">Hakkımızda</a>
                    </li>
                    <li class="nav-item _header_online_nav_item">
                        <a class="nav-link _header_online_nav_link" href="products.html">Ürünler</a>
                    </li>
                    <li class="nav-item _header_online_nav_item">
                        <a class="nav-link _header_online_nav_link" href="gallery.html">Galeri</a>
                    </li>
                    <li class="nav-item _header_online_nav_item">
                        <a class="nav-link _header_online_nav_link" href="contact.html">İletişim</a>
                    </li>
                </ul>

            </div>

        </nav>

        <div class="_header_online_wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="_header_online_content">

                        <div class="_header_online_content_txt">
                            <p class="_header_online_content_title3">Hoş Geldiniz</p>
                            <h4 class="_header_online_content_title1">Şirket Hakkında Açıklama</h4>
                            <p class="_header_online_content_title2">Şirket Hakkında Alt Açıklama.</p>
                        </div>

                        <div class="_header_online_content_btn_wrap">
                            <button class="_header_online_play_btn" onclick="location.href='about.html#about-text'">Hakkımızda Daha Fazla</button>
                        </div>

                    </div>

                    <div class="_header_online_img">
                        <img src="../sozenFrontend/assets/images/houseillustration.png" alt="header-back">
                    </div>

                </div>
            </div>
        </div>
    </header>

 
    @RenderBody()
</body>
</html>