
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="_header_online_wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="_header_online_content">

                <div class="_header_online_content_txt">
                    <p class="_header_online_content_title3">Hoş Geldiniz</p>
                    <h4 class="_header_online_content_title1 mt-5">İletişim</h4>
             
                </div>

                <div class="_header_online_content_btn_wrap">
                    <button class="_header_online_play_btn" onclick="/About/Index'">Hakkımızda Daha Fazla</button>
                </div>

            </div>

            <div class="_header_online_img">
                <img src="~/sozenFrontend/assets/images/houseillustration.png" alt="header-back">
            </div>

        </div>
    </div>
</div>


<section class="_count_online_wrapper">
    <div class="container">
        <div class="row" id="contact_row">

            <div class="contact-text" id="">
                <h3 class="_about_online_content_title">İletişim Bilgileri</h3>
                <p class="_about_online_content_para"><strong>Telefon Numarası:</strong></p>
                <p class="_about_online_content_para"><strong>E-Posta:</strong> contact@sozencit.com</p>
                <p class="_about_online_content_para"><strong>Adres: </strong></p>
            </div>

            <div class="contact-text-input">
                <h3 class="contact-title2">Bizim ile İletişime Geçin</h3>
                <!-- <p class="_about_online_content_para">Şirketimiz her müşteriye özenle yaklaşır.</p> -->

                <form method="post">
                    <div class="contact-div ">
                        <div class="wrap-input100 " data-validate="Lütfen Adınızı Giriniz.">
                            <input class="input100" type="text" id="inputName" name="Name" placeholder="Adınız ve Soyadınız">

                        </div>

                        <div class="wrap-input100 " data-validate="Lütfen Soyadınızı Giriniz">
                            <input class="input100" type="text" name="Surname" id="Surname" placeholder="Soyadını Giriniz.">

                        </div>

                        <div class="wrap-input100 " data-validate="Lütfen E-Posta Adresini Giriniz">
                            <input class="input100" type="text" name="Mail" id="inputEmail" placeholder="E-Posta Adresiniz">
                        </div>
                        <div class="wrap-input100 " data-validate="Lütfen Konu Başlığı Giriniz">
                            <input class="input100" type="text" name="Subject" id="inputEmail" placeholder="Konu">

                        </div>


                        <div class="wrap-input100 " style="height:150px;" data-validate="Lütfen Mesajınızı Giriniz">
                            <textarea class="input100" type="text" style="height:150px; padding-top:10px;" name="Message" id="inputMesaj" placeholder="Mesajınız"></textarea>

                        </div>
                        <input class="_header_online_play_btn_2 mt-5 mb-5" id="btn_contact" type="submit" value="Mesajı Gönder" />

                    </div>
                </form>

            </div>

        </div>
    </div>
</section>

@Html.Action("Newsletter", "Home")
@Html.Action("Footer", "Home")



