@model IEnumerable<EntityLayer.Concrete.Gallery>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="_header_online_wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="_header_online_content">

                <div class="_header_online_content_txt">
                    <p class="_header_online_content_title3">Hoş Geldiniz</p>
                    <h4 class="_header_online_content_title1 mt-5">Galeri</h4>
                    
                </div>

                <div class="_header_online_content_btn_wrap">
                    <button class="_header_online_play_btn" onclick="location.href='/About/Index'">Hakkımızda Daha Fazla</button>
                </div>

            </div>

            <div class="_header_online_img">
                <img src="~/sozenFrontend/assets/images/houseillustration.png" alt="header-back">
            </div>

        </div>
    </div>
</div>


<!-- Gallery Start -->
<div class="feature-01">
    <div class="text-center mt-5">
        <p class="urunler ">Galeri</p>
    </div>
   
        <div class="">
            <div class="flex-wrapper-one">
                <div class="container">
                    <div class="row">
                        @foreach (var x in Model)
                        {
                            <div class="col-4 mt-5">
                                <img alt=""
                                     class="image"
                                     
                                     src="@x.GalleryImage" />
                            </div>
                        }
                        </div>
                </div>
            </div>
        </div>
    
    </div>

<!-- Gallery End -->

@Html.Action("Newsletter","Home")
@Html.Action("Footer","Home")