@model IEnumerable<EntityLayer.Concrete.About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="_header_online_wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="_header_online_content">
                <div class="_header_online_content_txt">
                    <p class="_header_online_content_title3">Hoş Geldiniz</p>
                    <h4 class="_header_online_content_title1 mt-5">Hakkımızda</h4>
                    
                </div>
            </div>
            <div class="_header_online_img">
                <img src="~/sozenFrontend/assets/images/houseillustration.png" alt="header-back">
            </div>
        </div>
    </div>
</div>

<!-- About Start -->

<div class="feature-02-two">
    <div class="feature-02">
        @Html.Action("AboutContent1", "About")
        <div class="countdown"></div>
        @Html.Action("AboutContent2", "About")

    </div>
</div>
<!-- About End -->
@Html.Action("Newsletter", "Home")
@Html.Action("Footer", "Home")