@model IEnumerable<EntityLayer.Concrete.About>

<!-- Footer -->
<footer class="_footer_online_wrapper">
    <div class="_footer_online_wrap">


        <div class="_footer_online_content">
            <h4 class="_footer_online_content_title">Menü</h4>
            <div class="_footer_online_list_wrap">
                <ul class="_footer_online_list">
                    <li class="_footer_online_list_item">
                        <a href="/Home/Index" class="_footer_online_list_link">
                            Ana Sayfa
                        </a>
                    </li>
                    <li class="_footer_online_list_item">
                        <a href="/About/Index" class="_footer_online_list_link">
                            Hakkımızda
                        </a>
                    </li>
                    <li class="_footer_online_list_item">
                        <a href="/Product/Index" class="_footer_online_list_link">
                            Ürünlerimiz
                        </a>
                    </li>
                    <li class="_footer_online_list_item">
                        <a href="/Gallery/Index" class="_footer_online_list_link">
                            Galeri
                        </a>
                    </li>
                    <li class="_footer_online_list_item">
                        <a href="/Contact/Index" class="_footer_online_list_link">
                            İletişim
                        </a>
                    </li>
                </ul>
            </div>
        </div>


        


        <div class="_footer_online_content_3">
            <h4 class="_footer_online_content_title">Yasal Bilgiler</h4>
            <div class="_footer_online_list_wrap">
                <ul class="_footer_online_list">
                    <li class="_footer_online_list_item">
                        <a href="#0" class="_footer_online_list_link">
                            Kullanım Koşulları
                        </a>
                    </li>
                    <li class="_footer_online_list_item">
                        <a href="#0" class="_footer_online_list_link">
                            Gizlilik Politikası
                        </a>
                    </li>
                    <li class="_footer_online_list_item">
                        <a href="#0" class="_footer_online_list_link">
                            Yasal Uyarı
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div> @foreach (var x in Model)
    {
        <div class="_footer_online_content_4">
            <h4 class="_footer_online_content_title">Sözen Çit</h4>

            <div class="_footer_online_list_wrap">
                <p class="_count_online_wrap_para" style="width:250px">@x.AboutContent1</p>
            </div>
           
        </div>
    }
        <div class="_footer_online_copyright">
            <div class="">
                <p class="_footer_online_copryright_txt">© Copyright 2022 Sözen Çit Tüm Hakları Saklıdır.</p>
            </div>
        </div>

        </div>
    </footer>
<!-- Footer End -->
