<div class="_header_online_wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="_header_online_content">

                <div class="_header_online_content_txt">
                    
                    <h4 class="_header_online_content_title1">Sözen Çit'e Hoşgeldiniz</h4>
                    <p class="_header_online_content_title2 ">Çit Direği, Bağ Direği, Tel Örgü İmalat ve Montaj, Beton Direk İmalatı İtina ile yapılır.</p>
                </div>

                <div class="_header_online_content_btn_wrap">
                    <button class="_header_online_play_btn mt-2" onclick="location.href='/About/Index'">Hakkımızda Daha Fazla</button>
                </div>

            </div>

            <div class="_header_online_img">
                <img src="../sozenFrontend/assets/images/houseillustration.png" alt="header-back">
            </div>

        </div>
    </div>
</div>
