 <!-- Services Start -->
<div class="how-it-works-two">
    <div class="how-it-works">
        <div class="text">

            <p class="hizmetlerimiz">Hizmetlerimiz</p>
        </div>
        <div class="seller-type ">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-4 services-img ">
                        <img src="../sozenFrontend/assets/images/services1.jpeg" alt="">
                        <h3 class="services-subtitle"> Çit Direği</p>
                    </div>

                    <div class="col-4 services-img ">
                        <img src="../sozenFrontend/assets/images/services2.jpeg" alt="">
                        <h3 class="services-subtitle">Bağ Direği</p>
                    </div>
                    <div class="col-4 services-img">
                        <img src="../sozenFrontend/assets/images/services3.jpeg" alt="">
                        <h3 class="services-subtitle">Tel Örgü Montaj ve İmalat</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Services End -->
